* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #003399;
    color: white;
}

.logo h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.user {
    font-size: 18px;
    font-weight: bold;
}

.user p span {
    color: #ffd700;
}

.container {
    margin-top: 50px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
